node-red_flows/userCRUD.json
[
    {
        "id": "7fa01a8e81916549",
        "type": "tab",
        "label": "userCRUD",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5f2c235fc9d4cff4",
        "type": "http request",
        "z": "7fa01a8e81916549",
        "name": "getUser",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "localhost:8080/getUser",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "credentials": {
            "user": "",
            "password": ""
        },
        "x": 300,
        "y": 60,
        "wires": [
            [
                "a65be02ca4a0cb24"
            ]
        ]
    },
    {
        "id": "9862dd01d166532d",
        "type": "inject",
        "z": "7fa01a8e81916549",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 60,
        "wires": [
            [
                "5f2c235fc9d4cff4"
            ]
        ]
    },
    {
        "id": "947dfa1aafa2b205",
        "type": "debug",
        "z": "7fa01a8e81916549",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 60,
        "wires": []
    },
    {
        "id": "a65be02ca4a0cb24",
        "type": "json",
        "z": "7fa01a8e81916549",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 470,
        "y": 60,
        "wires": [
            [
                "947dfa1aafa2b205",
                "67c9202e6bbd0aa8"
            ]
        ]
    },
    {
        "id": "3c6fb8504ca9470a",
        "type": "http in",
        "z": "7fa01a8e81916549",
        "name": "",
        "url": "getUser",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 120,
        "wires": [
            [
                "5f2c235fc9d4cff4"
            ]
        ]
    },
    {
        "id": "67c9202e6bbd0aa8",
        "type": "change",
        "z": "7fa01a8e81916549",
        "name": "Set Headers",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "application/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 140,
        "wires": [
            [
                "ce7e3249bcc50713"
            ]
        ]
    },
    {
        "id": "ce7e3249bcc50713",
        "type": "http response",
        "z": "7fa01a8e81916549",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 790,
        "y": 140,
        "wires": []
    },
    {
        "id": "bbf32aea67fbed0b",
        "type": "http request",
        "z": "7fa01a8e81916549",
        "name": "getUser[id]",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/getUser/{{req.params.id}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "credentials": {
            "user": "",
            "password": ""
        },
        "x": 310,
        "y": 240,
        "wires": [
            [
                "1dd0bd71c70f7ebe"
            ]
        ]
    },
    {
        "id": "ceb17d4cabc13377",
        "type": "debug",
        "z": "7fa01a8e81916549",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 240,
        "wires": []
    },
    {
        "id": "1dd0bd71c70f7ebe",
        "type": "json",
        "z": "7fa01a8e81916549",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 470,
        "y": 240,
        "wires": [
            [
                "ceb17d4cabc13377",
                "692ee91f38cddeca"
            ]
        ]
    },
    {
        "id": "eaf5dc08b8c4aef2",
        "type": "http in",
        "z": "7fa01a8e81916549",
        "name": "",
        "url": "/getUser/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 300,
        "wires": [
            [
                "bbf32aea67fbed0b",
                "6e551d68ed5e5a36"
            ]
        ]
    },
    {
        "id": "51446941fd0ca8c6",
        "type": "inject",
        "z": "7fa01a8e81916549",
        "name": "inject",
        "props": [
            {
                "p": "req.params.id",
                "v": "1",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 90,
        "y": 240,
        "wires": [
            [
                "bbf32aea67fbed0b"
            ]
        ]
    },
    {
        "id": "692ee91f38cddeca",
        "type": "change",
        "z": "7fa01a8e81916549",
        "name": "Set Headers",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "application/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 320,
        "wires": [
            [
                "c39a89f835349758"
            ]
        ]
    },
    {
        "id": "c39a89f835349758",
        "type": "http response",
        "z": "7fa01a8e81916549",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 790,
        "y": 320,
        "wires": []
    },
    {
        "id": "6e551d68ed5e5a36",
        "type": "debug",
        "z": "7fa01a8e81916549",
        "name": "msg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 340,
        "wires": []
    },
    {
        "id": "d71b282dcf9d5e60",
        "type": "http request",
        "z": "7fa01a8e81916549",
        "name": "login[username]",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/login/{{req.params.username}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "credentials": {
            "user": "",
            "password": ""
        },
        "x": 320,
        "y": 420,
        "wires": [
            [
                "cadb69cfc001299e"
            ]
        ]
    },
    {
        "id": "b0300c7a0864b83b",
        "type": "debug",
        "z": "7fa01a8e81916549",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 420,
        "wires": []
    },
    {
        "id": "cadb69cfc001299e",
        "type": "json",
        "z": "7fa01a8e81916549",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 470,
        "y": 420,
        "wires": [
            [
                "b0300c7a0864b83b",
                "e54fef5d991fca05"
            ]
        ]
    },
    {
        "id": "5bb85f66d02eb847",
        "type": "http in",
        "z": "7fa01a8e81916549",
        "name": "",
        "url": "/login/:username",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 500,
        "wires": [
            [
                "d71b282dcf9d5e60"
            ]
        ]
    },
    {
        "id": "ac0ede88a95b7349",
        "type": "inject",
        "z": "7fa01a8e81916549",
        "name": "inject",
        "props": [
            {
                "p": "req.params.correo",
                "v": "admin@g",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 90,
        "y": 420,
        "wires": [
            [
                "d71b282dcf9d5e60"
            ]
        ]
    },
    {
        "id": "e54fef5d991fca05",
        "type": "change",
        "z": "7fa01a8e81916549",
        "name": "Set Headers",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "application/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 500,
        "wires": [
            [
                "56b0928912e2f7e6"
            ]
        ]
    },
    {
        "id": "56b0928912e2f7e6",
        "type": "http response",
        "z": "7fa01a8e81916549",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 770,
        "y": 500,
        "wires": []
    },
    {
        "id": "51f0ab83b1a0f5ee",
        "type": "http request",
        "z": "7fa01a8e81916549",
        "name": "addUser",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "localhost:8080/addUser",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "credentials": {
            "user": "",
            "password": ""
        },
        "x": 560,
        "y": 640,
        "wires": [
            [
                "7b31dd273058e74e",
                "46014ce30e3079b9"
            ]
        ]
    },
    {
        "id": "3e73ef45746b368a",
        "type": "inject",
        "z": "7fa01a8e81916549",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\":5,\"apellido1\":\"asad\",\"apellido2\":\"asdge\",\"email\":\"aefa@asf\",\"hospital\":\"miHospital\",\"nombre\":\"ey\",\"password\":1231412,\"sexo\":\"1\"}",
        "payloadType": "json",
        "x": 90,
        "y": 640,
        "wires": [
            [
                "51f0ab83b1a0f5ee"
            ]
        ]
    },
    {
        "id": "434ae8159d2f520b",
        "type": "debug",
        "z": "7fa01a8e81916549",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 640,
        "wires": []
    },
    {
        "id": "7b31dd273058e74e",
        "type": "json",
        "z": "7fa01a8e81916549",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 750,
        "y": 640,
        "wires": [
            [
                "434ae8159d2f520b",
                "f2454131e71c5bb2"
            ]
        ]
    },
    {
        "id": "937ab73e7692302d",
        "type": "http in",
        "z": "7fa01a8e81916549",
        "name": "",
        "url": "addUser",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 720,
        "wires": [
            [
                "b873a4e2c1658595",
                "aeef726d607ab96d"
            ]
        ]
    },
    {
        "id": "f2454131e71c5bb2",
        "type": "change",
        "z": "7fa01a8e81916549",
        "name": "Set Headers",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "application/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 720,
        "wires": [
            [
                "b828112beb34cc73"
            ]
        ]
    },
    {
        "id": "b828112beb34cc73",
        "type": "http response",
        "z": "7fa01a8e81916549",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1030,
        "y": 720,
        "wires": []
    },
    {
        "id": "b873a4e2c1658595",
        "type": "debug",
        "z": "7fa01a8e81916549",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 740,
        "wires": []
    },
    {
        "id": "46014ce30e3079b9",
        "type": "debug",
        "z": "7fa01a8e81916549",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 600,
        "wires": []
    },
    {
        "id": "aeef726d607ab96d",
        "type": "json-schema-validator",
        "z": "7fa01a8e81916549",
        "name": "",
        "func": "{\n  \"$schema\": \"http://json-schema.org/draft-04/schema#\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"username\": {\n      \"type\": \"string\"\n    },\n    \"password\": {\n      \"type\": \"string\"\n    },\n    \"lastname\": {\n      \"type\": \"string\"\n    },\n    \"name\": {\n      \"type\": \"string\"\n    },\n    \"sexo\": {\n      \"type\": \"boolean\"\n    },\n    \"email\": {\n      \"type\": \"string\"\n    },\n    \"altura\": {\n      \"type\": \"float\"\n    },\n    \"peso\": {\n      \"type\": \"float\"\n    },\n     \"active\": {\n      \"type\": \"boolean\"\n    },\n     \"role\": {\n      \"type\": \"string\"\n    },\n      \"alergia\": {\n      \"type\": \"string\"\n    }\n    \n  },\n  \"required\": [\n    \"usename\",\n    \"password\",\n    \"lastname\",\n    \"name\",\n    \"sexo\",\n    \"altura\",\n    \"peso\",\n    \"email\",\n    \"active\"\n  ]\n}",
        "x": 350,
        "y": 680,
        "wires": [
            [
                "51f0ab83b1a0f5ee"
            ]
        ]
    },
    {
        "id": "db4ced5022170535",
        "type": "http request",
        "z": "7fa01a8e81916549",
        "name": "updateUser[id]",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "body",
        "url": "http://localhost:8080/updateUser/{{req.params.id}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "credentials": {
            "user": "",
            "password": ""
        },
        "x": 560,
        "y": 840,
        "wires": [
            [
                "2905bb3a1d2edbb9"
            ]
        ]
    },
    {
        "id": "a5e3faa8901c40ee",
        "type": "debug",
        "z": "7fa01a8e81916549",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 840,
        "wires": []
    },
    {
        "id": "2905bb3a1d2edbb9",
        "type": "json",
        "z": "7fa01a8e81916549",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 770,
        "y": 840,
        "wires": [
            [
                "a5e3faa8901c40ee",
                "ee35a05f60bf911c"
            ]
        ]
    },
    {
        "id": "e1fed3ea53534df1",
        "type": "http in",
        "z": "7fa01a8e81916549",
        "name": "",
        "url": "updateUser/:id",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 350,
        "y": 920,
        "wires": [
            [
                "db4ced5022170535"
            ]
        ]
    },
    {
        "id": "e1e1e14defe7e7a6",
        "type": "inject",
        "z": "7fa01a8e81916549",
        "name": "inject",
        "props": [
            {
                "p": "req.params.id",
                "v": "2",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 90,
        "y": 840,
        "wires": [
            [
                "101b095f4a412a51"
            ]
        ]
    },
    {
        "id": "101b095f4a412a51",
        "type": "function",
        "z": "7fa01a8e81916549",
        "name": "",
        "func": "\nmsg.headers = {}\nmsg.headers['Content-type'] = 'application/json; charset=UTF-8';\nmsg.payload= JSON.stringify({\"id\":5,\"username\":\"proba\",\"lastname\":\"abizena\",\"email\":\"proba@proba\",\"peso\":70,\"altura\":180,\"name\":\"izena\",\"password\":123456789,\"sexo\":\"1\",\"active\":\"1\"})\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 840,
        "wires": [
            [
                "db4ced5022170535"
            ]
        ]
    },
    {
        "id": "ee35a05f60bf911c",
        "type": "change",
        "z": "7fa01a8e81916549",
        "name": "Set Headers",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "application/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 940,
        "wires": [
            [
                "277bebf1ebdbc9bf"
            ]
        ]
    },
    {
        "id": "277bebf1ebdbc9bf",
        "type": "http response",
        "z": "7fa01a8e81916549",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 930,
        "y": 940,
        "wires": []
    },
    {
        "id": "1b9cc36aeaa1c9fa",
        "type": "http request",
        "z": "7fa01a8e81916549",
        "name": "deleteUser[id]",
        "method": "DELETE",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/deleteUser/{{req.params.id}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "credentials": {
            "user": "",
            "password": ""
        },
        "x": 300,
        "y": 1040,
        "wires": [
            [
                "50631b1766137b5b"
            ]
        ]
    },
    {
        "id": "9617f9d45d3fe49d",
        "type": "debug",
        "z": "7fa01a8e81916549",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 1040,
        "wires": []
    },
    {
        "id": "50631b1766137b5b",
        "type": "json",
        "z": "7fa01a8e81916549",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 510,
        "y": 1040,
        "wires": [
            [
                "9617f9d45d3fe49d",
                "fa2d7503588bf066"
            ]
        ]
    },
    {
        "id": "dfa7dfc34afb625a",
        "type": "http in",
        "z": "7fa01a8e81916549",
        "name": "",
        "url": "/deleteUser/:id",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 1120,
        "wires": [
            [
                "1b9cc36aeaa1c9fa"
            ]
        ]
    },
    {
        "id": "a88322030353de72",
        "type": "inject",
        "z": "7fa01a8e81916549",
        "name": "inject",
        "props": [
            {
                "p": "req.params.id",
                "v": "1",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 110,
        "y": 1040,
        "wires": [
            [
                "1b9cc36aeaa1c9fa"
            ]
        ]
    },
    {
        "id": "fa2d7503588bf066",
        "type": "change",
        "z": "7fa01a8e81916549",
        "name": "Set Headers",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "application/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 1120,
        "wires": [
            [
                "18971dae4b9ee4f1"
            ]
        ]
    },
    {
        "id": "18971dae4b9ee4f1",
        "type": "http response",
        "z": "7fa01a8e81916549",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 810,
        "y": 1120,
        "wires": []
    },
    {
        "id": "5f52e263fbbf0434",
        "type": "catch",
        "z": "7fa01a8e81916549",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 120,
        "y": 1240,
        "wires": [
            [
                "2f8396733ddf8959"
            ]
        ]
    },
    {
        "id": "2f8396733ddf8959",
        "type": "debug",
        "z": "7fa01a8e81916549",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 1240,
        "wires": []
    }
]